.Tecnologias{
    width: 95%;
 
    margin: 0% 70%;
    margin-top: -18%;
    text-align: justify;
  
}

.tec{
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 150%;
    margin: 1% 5%;

}